{% extends 'base.html' %}
{% block body %}

<div style="padding-top:100px;background-color: #07212e">
    {% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
    </div>
{% endfor %}
</div>
<div class="container" style="margin-top:50px">
    <div class="row">
        <div class="col-6 mx-auto p-5" style="border:1px solid orange">
<div class="form-group">
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="btn btn-primary">Change</button>
            
            
         
    </form>
</div>

        </div>
    </div>
</div>



{% endblock body %}